<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="CT.iMagio.Shared.DataTier.Impl.Properties.Settings.ConfigDBConnect"
    connectionString="server=blook;database=Config;Application Name=AdminTools;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="CT.iMagio.Shared.DataTier.Impl.Properties.Settings.IndexDBConnect"
    connectionString="server=blook;database=Index;Application Name=AdminTools;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="CT.iMagio.Shared.DataTier.Impl.Properties.Settings.AuditDBConnect"
    connectionString="server=blook;database=Audit;Application Name=AdminTools;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="CT.iMagio.Shared.DataTier.Impl.Properties.Settings.CustomerDBConnect"
    connectionString="server=blook;database=CustomerLookups;Application Name=AdminTools;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation debug="false" xdt:Transform="Replace" />
  </system.web>

  <applicationSettings>
    <CT.iMagio.Shared.Utilities.Properties.Settings>
      <setting name="SMTPServer" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>blook.blook.com</value>
      </setting>
      <setting name="SMTPSenderAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>support@blook.com</value>
      </setting>

    </CT.iMagio.Shared.Utilities.Properties.Settings>

    <CT.iMagio.AdminTools.Properties.Settings>
      <setting name="LoginUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://shirt.blook.com/imagio/Login.htm</value>
      </setting>
      <setting name="FrameLoginUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://shirt.blook.com/imagio/FrameLogin.aspx</value>
      </setting>
      <setting name="UserSecurity_DefaultAccountId" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>6</value>
      </setting>
      <setting name="UserSecurity_ShowFilterOnLoad" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="UserSecurity_GroupMembersDisplayProperty" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>DisplayNameLoginFirstLast</value>
      </setting>
      <setting name="UserSecurity_AccountUsersDisplayProperty" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>DisplayNameLoginFirstLast</value>
      </setting>
      <setting name="UserSecurity_ShowAdminsOnlyByDefault" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="UserSecurity_SpecialSort" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
      <setting name="QueryUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://shirt.blook.com/imagio/QueryClient.aspx</value>
      </setting>
      <setting name="FrameUserMaintenanceUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://shirt.blook.com/imagio/FrameUserMaintenance.aspx</value>
      </setting>
      <setting name="InternalTokenSigningCertDN" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>i AM A CERT</value>
      </setting>
      <setting name="InternalTokenEncryptionCertDN" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>ME TOO</value>
      </setting>
      <setting name="IsPersistentEnabled" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>True</value>
      </setting>
      <setting name="PersistentCookieInDays" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>30</value>
      </setting>
      <setting name="WorkflowAdminApplicationTileNavigateUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://pants.blook.com/workflow/pages/UserSecurity.aspx</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>http://shirt.blook.com/</value>
      </setting>
      <setting name="HomeUrl" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>home</value>
      </setting>
      <setting name="StaticContentRoot" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>http://shirt.blook.com/staticcontent/</value>
      </setting>
      <setting name="AircraftLockdownApplicationTileNavigateUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://shirt.blook.com/aircraftlockdown/</value>
      </setting>
        <setting name="TransferAdminNavigationUrl"  serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>http://shirt.blook.com/transferadmin/</value>
        </setting>
    </CT.iMagio.AdminTools.Properties.Settings>

    <CT.iMagio.AdminTools.WcfWorkflowUserSecurityRefresh.Settings>
      <setting name="WorkflowEnabled" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>True</value>
      </setting>
    </CT.iMagio.AdminTools.WcfWorkflowUserSecurityRefresh.Settings>
  </applicationSettings>

  <system.serviceModel>
    <client>
      <endpoint 
        address="http://pants.blook.com/WorkflowService/workflowservice.svc"
        binding="customBinding" 
        bindingConfiguration="WorkflowServiceNetHttp"
        contract="WorkflowService.IWorkflowService" 
        name="WorkflowServiceNetHttp" xdt:Transform="Replace" xdt:Locator="Match(name)" />

      <endpoint
       address="http://shirt.blook.com/WIFAdapter/IdentityManager.svc"
       binding="basicHttpBinding"
       bindingConfiguration="BasicHttpBinding_IIdentityManager"
       contract="WifAdapter.IIdentityManager"
       name="BasicHttpBinding_IIdentityManager" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>